# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hanne Noraberg\Documents\IBS\2nd_semester\Automation\Home assignment\home_assignment_automation_HN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
